.head-link {
    border-bottom: 1px solid #ECECEC;
}

.head-link-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navigation {
    display: flex;
    align-items: center;
}

.logo__black {
    color: var(--black-color);
}


.menu {
    margin-left: 93px;
    display: flex;
}

.menu__item:not(:last-child) {
    margin-right: 50px;
}

.menu__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    padding: 32px 0px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
        }

}



.current {
    position: relative;
    color: var(--accent-color);

    &::after {
            content: '';
            position: absolute;
            bottom: -1px;
            border-radius: 2px;
            display: block;
            width: 100%;
            height: 4px;
            background-color: #188CE8;
        }
}



.menu-nav {
    display: flex;
}



.menu-nav__item{
    fill: currentColor;

    &:not(:last-child) {
    margin-right: 50px;
    }
}

.menu-nav__link:hover,
.menu-nav__link:focus {
    color: var(--accent-color);
}

.menu-nav__icon {
    margin-right: 10px;
}
