.hero {
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0px;
    max-width: 1600px;
    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../img/Hero/Img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero__button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 10px 32px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--white-color);

    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188CE8
    }
}

.hero-title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);

}





