.portfolio-content {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;

}

.portfolio-link {
    text-decoration: none;
    display: block;
    overflow: hidden;
    top: 0;
    left: 0;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}



.portfolio-header-photo:not(:nth-child(3n)) {
    margin-right: 30px;

    &:not(:nth-last-child(-n+3)) {
            margin-bottom: 30px;
        }
}





.portfolio-card-visual {
    position: relative;
    overflow: hidden;
}

.portfolio-text-fon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    ;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio-link:hover &,
        .portfolio-link:focus & {
            opacity: 1;
            transform: translateY(0%)
        }
}

.text-in-card {
    position: absolute;
    width: 322px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}


.portfolio-card {
    background-color: #FFFFFF;
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.content-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--black-color);
    margin-bottom: 4px;

}


.content-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--contact-color)
}