textarea {
    resize: none;
}

.form-in-modal__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
    outline: none;
    border-color: var(--accent-color);
    }

}


.form-in-modal__list {
    position: relative;
    margin-bottom: 10px;
}

.form-in-modal__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


    .contact-form-input:focus+& {
            fill: var(--accent-color);
        }
}



.argre {
    color: var(--accent-color);

}

.checkbox-agrre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;


    &::before {
            content: '';
            display: block;
            width: 16px;
            height: 15px;
    
            border: 2px solid rgba(33, 33, 33, 1);
            border-radius: 4px;
            cursor: pointer;
            margin-right: 8px;

            .checkbox:checked+& {
            background-image: url(../img/background-img/icon-check.svg);
            border: none;
        }

        .checkbox:focus+&{
            outline: 1px solid #188CE8;
        }
        }

        
}





