.modal {
    position: absolute;
    top: 50%;
    left: 50%;


    min-width: 528px;
    min-height: 580px;
    padding: 40px;

    background-color: #FFFFFF;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(1.1);
    }
}

.button-modal-send {
    text-align: center;
    align-self: center;
    margin-top: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-color);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        background-color: #188CE8;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}





.form-in-modal {
    display: flex;
    flex-direction: column;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}



.form-in-modal__name {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--contact-color);

}

.form-in-modal__message{
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 20px;

    &:focus {
    outline: none;
    border-color: var(--accent-color);
}

&::placeholder {
    color: rgba(117, 117, 117, 0.5);
}
}




