.title-black {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    box-sizing: border-box;
    margin-bottom: 50px;
}


.foter-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}
