 
    .section__title{
font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
   

    @media screen and(max-width:1199px){
        margin-bottom: 30px;
    }


     @media screen and(min-width: 1200px) {
        margin-bottom: 50px;
        }
    }
        
       





// .section__title {
//     font-weight: 700;
//     font-size: 36px;
//     line-height: 42px;
//     text-align: center;
//     letter-spacing: 0.03em;
//     box-sizing: border-box;
//     margin-bottom: 50px;
// }




.foter-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}
